doctype html
html
  include /../../static/assets/lib/bootstrap.ldui/main/index.pug
  head
    +css("/assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("/assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.css")
    +css("/assets/lib/@loadingio/transition.css/main/transition.min.css")
    +css("/assets/lib/ldscroll/dev/ldscroll.min.css")
    +css("/css/index.css")
  body
    +script("/assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("/assets/lib/ldscroll/dev/ldscroll.min.js")
